.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
}

.endereco {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.signupform {
    width: 80vw;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .signupform {
        width: 25vw;
    }
}

@media (min-width: 1025px) {
    .signupform {
        width: 25vw;
    }
}