.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
    width: 100%;
}

.conjunto {
    display: flex;
    flex-direction: column;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.steps {
    width: fit-content;
    margin-bottom: 30px;
}

.formDependente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 50px;
    border-bottom: 1px solid #6c757d;
    padding: 20px 0px;
}

@media (min-width: 768px) {
    .formDependente {
        flex-direction: row;
        gap: 32px;
        align-items: center;
    }

    .conjunto {
        flex-direction: row;
        gap: 10px;
    }
}
