.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.cadastroform {
    width: 100%;
}

.conjunto {
    display: flex;
    flex-direction: column;
}

.socios {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .conjunto {
        flex-direction: row;
        gap: 10px;
    }
}