.footer {
    background-color: var(--cordestaque);
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 6vh;
}
.paragrafo {
    font-size: 0.85em;
}