.titulo {
    padding-top: 10px;
    text-align: center;
}

.subtitulo {
    font-size: medium;
    font-weight: 500;
}

.seletor {
    border-radius: 20px;
    height: 35px;
    text-align: center;
    margin-top: 20px;
}

.lista {
    text-align: left;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 25px;
}

.botao-voltar {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 50px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-voltar:hover {
    background-color: #005bb5;
}

.botao-voltar:focus {
    outline: none;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}