.titulo {
    padding-top: 10px;
    text-align: center;
}

.subtitulo {
    font-size: medium;
    font-weight: 500;
}

.seletor {
    border-radius: 20px;
    height: 35px;
    text-align: center;
    margin-top: 20px;
}

.lista {
    text-align: left;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 25px;
}

.item {
    
}