.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.paper {
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.desktopImage {
    display: none;
}

.mobileImage {
    display: block;
}

@media (min-width: 768px){ 
    .desktopImage {
        display: block;
    }

    .mobileImage {
        display: none;
    }
}