.formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    border: 2px solid var(--cordestaque);
    box-shadow: 2px 2px 2px 1px var(--cordestaque);
    border-radius: 15px;
    padding: 10px;
    width: 85vw;
}

.section {
    padding: 10px 0px;
}

.line {
    margin: 15px 0px;
}

.line::before {
    content: '';
    position: absolute;
    padding-top: 12px;
    left: 16px;
    width: 25vw;
    border-bottom: 2px solid #070E26;
}

.line::after {
    content: '';
    position: absolute;
    padding-top: 12px;
    right: 16px;
    width: 25vw;
    border-bottom: 2px solid #070E26;
}

@media (min-width: 768px) and (max-width: 1024px){  
    .section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0px;
    }

    .formulario {
        width: 40vw;
    }

    .espacamento {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .paragrafo {
        width: 75vw;
    }

    .elements {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 30px;
    }

    .line::before {
        width: 35vw;
    }

    .line::after {
        width: 35vw;
    }

    .subtitulo {
        text-align: left;
    }

    .subsubtitulo {
        text-align: left;
    }
}

@media (min-width: 1025px) {
    .section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0px;
    }

    .formulario {
        width: 40vw;
    }

    .espacamento {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .paragrafo {
        width: 75vw;
    }

    .elements {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        width: 100%;
        gap: 30px;
    }

    .line::before {
        width: 35vw;
    }

    .line::after {
        width: 35vw;
    }

    .subtitulo {
        text-align: left;
    }

    .subsubtitulo {
        text-align: left;
    }
}